* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#preloader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background: #231f20;
    opacity: 1;
    display: none;
}

#preloader .loading {
    position: relative;
    bottom: -50%;
    right: -50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
}

#preloader .loading span {
    border: 0;
    margin: 0;
    width: 40%;
    height: 40%;
    position: absolute;
    border-radius: 50%;
    animation: spin 2s ease infinite;
}

#preloader .loading :first-child {
    background: #808080;
    animation-delay: -1.5s;
}

#preloader .loading :nth-child(2) {
    background: #808080;
    animation-delay: -1s;
}

#preloader .loading :nth-child(3) {
    background: #808080;
    animation-delay: -0.5s;
}

#preloader .loading :last-child {
    background: #ff0000;
}

@keyframes spin {
    0%  {
        -webkit-transform: translate(0);
        -ms-transform: translate(0);
        transform: translate(0);
    }
    25% {
        -webkit-transform: translate(170%);
        -ms-transform: translate(70px);
        transform: translate(70px);
    }
    50% {
        -webkit-transform: translate(170%, 170%);
        -ms-transform: translate(70px, 70px);
        transform: translate(70px, 70px);
    }
    75% {
        -webkit-transform: translate(0, 170%);
        -ms-transform: translate(0, 70px);
        transform: translate(0, 70px);
    }
    100% {
        -ms-transform: translate(0);
        transform: translate(0);
    }
}

