@media (max-width: 768px) {
       
    section {
        padding: 53px 0;
    }
    
    .section-header h2 {
        font-size: 2em;
        margin-bottom: 40px;
    }
    
    #main-header #carouselExampleIndicators .carousel-indicators {
        position: absolute;
        top: 90%;
    }
        
    #main-header .header-caption h2 {
        font-size: 3em;
        font-weight: 100;
    }

    #main-header .header-caption h3 {
        font-size: 1.5em;
        font-weight: 100;
    }
    
    #main-header .header-caption .button {
        font-size: 4em;
    }    
 
    #contact address {
        font-size: 1.1em;
        font-weight: 300;
    }
    
    #main-footer .copyrights h3 {
        font-size: 0.9em;
        font-weight: 300;
    } 
}


@media (min-width: 992px) and (max-width: 1200px) {
    #about p {
        margin-left: 40px;
    }
}